.chrome {
    border: 1px solid transparent;
}

.stage {
    border-color: rgba(45, 43, 85, 1);
    border-style: solid;
    border-width: 40px;
}

.pane {
    border: 1px solid black;
}

.separator, .spacer {
    background-color: rgba(45, 43, 85, 1);
}

