.chrome {
    border: 1px solid transparent;
}

.stage {
    border: 40px solid rgba(45, 43, 85, 1);
}

.pane {
    border: 1px solid rgba(128, 128, 128, .15);
}

.separator, .spacer {
    background-color: rgba(45, 43, 85, 1);
}

